<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @property.location_id %>
</p>

<p>
  <strong>State abbrev:</strong>
  <%= @property.state_abbrev %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
