<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :jersey_num %>
    <%= form.number_field :jersey_num %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :teamName %>
    <%= form.text_field :teamName %>
  </div>

  <div class="field">
    <%= form.label :isAllStar %>
    <%= form.check_box :isAllStar %>
  </div>

  <div class="field">
    <%= form.label :player_link %>
    <%= form.text_field :player_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
